SERVER_URL=http://localhost:5000
DEFAULT_VTU_PROVIDER=clubkonnect
VTU_BASE_URL=https://www.nellobytesystems.com
NELLO_USER_ID=
NELLO_API_KEY=
AIRTIME_NIGERIA_BASE_URL=https://www.airtimenigeria.com/api/v1
AIRTIME_NIGERIA_API_KEY=
SMEPLUG_BASE_URL=https://smeplug.ng/api/v1
SMEPLUG_API_KEY=
PLUGINNG_BASE_URL=https://pluginng.com
PLUGINNG_EMAIL=
PLUGINNG_PASSWORD=
PLUGINNG_TOKEN=
ALRAHUZDATA_BASE_URL=https://alrahuzdata.com.ng
ALRAHUZDATA_TOKEN=
ALRAHUZDATA_TIMEOUT_MS=45000
ALRAHUZ_RECON_ENABLED=true
ALRAHUZ_RECON_INTERVAL_MS=120000
ALRAHUZ_RECON_LIMIT=50
REFERRAL_EARNING_PERCENT=1
